/* ! Sections. */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  transition: bgFade 1s ease-in-out;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("assets/bgimage4.png") no-repeat center center fixed;
  background-size: cover;
  transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
  touch-action: pan-y;
}
@keyframes bgFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ! Title section. */
.start {
  position: absolute;
  top: 56%;
  left: 50%;
}
.title {
  font-family: "Amatic SC", serif;
  font-weight: 700;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  font-size: 100px;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}
.title h1 {
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 7px solid;
  animation: typing 1.5s linear forwards, blink 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.h1-hidden {
  opacity: 0;
}
.h1-visible {
  opacity: 1;
  transform: translate(-50%, -50%);
}

/* ! Start button section. */
#start-button {
  font-size: 50px;
  position: absolute;
  display: inline-block;
  width: 450px;
  height: 200px;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background: linear-gradient(0deg, #282828, #202020);
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.75),
    0px 5px 20px 10px rgba(0, 0, 0, 0.635);
  overflow: hidden;
  user-select: none;
  opacity: 0;
}
#start-button::before {
  content: "";
  position: absolute;
  top: 13px;
  bottom: 33px;
  right: 24px;
  left: 24px;
  background: linear-gradient(180deg, #232323, #4a4a4a);
  border-radius: 15px;
  border-bottom: 3.5px solid #0005;
  border-left: 3px solid #0004;
  border-right: 3px solid #0004;
  box-shadow: 0px -10px 10px 2px rgba(255, 255, 255, 0.134),
    0px 15px 30px rgba(0, 0, 0, 0.4);
}
#start-button:active {
  display: block;
  transform: translate(-50%, -50%) scale(0.95);
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.75),
    0px 5px 20px 10px rgba(0, 0, 0, 0.635);
  background: linear-gradient(to top, #1c1c1c, #1c1c1c);
  transition: transform 0.1s ease-in-out;
}
#sbtext {
  position: relative;
  color: white;
  text-transform: uppercase;
  font-family: "Quantico", serif;
  padding-top: 8px;
}

/* ! Mode button section. */
#mode-button1,
#mode-button2,
#mode-button3 {
  font-size: 50px;
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(0.95);
  border-radius: 15px;
  background: linear-gradient(0deg, #282828, #202020);
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.75),
    0px 5px 20px 10px rgba(0, 0, 0, 0.635);
  overflow: hidden;
  user-select: none;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  display: none;
  pointer-events: none;
}
#mode-button1 {
  top: 57%;
  left: 35%;
}
#mode-button2 {
  top: 57%;
  left: 50%;
}
#mode-button3 {
  top: 57%;
  left: 65%;
}
#mode-button1::before,
#mode-button2::before,
#mode-button3::before {
  content: "";
  position: absolute;
  top: 13px;
  bottom: 33px;
  right: 24px;
  left: 24px;
  background: linear-gradient(180deg, #232323, #4a4a4a);
  border-radius: 15px;
  border-bottom: 3.5px solid #0005;
  border-left: 3px solid #0004;
  border-right: 3px solid #0004;
  box-shadow: 0px -10px 10px 2px rgba(255, 255, 255, 0.134),
    0px 15px 30px rgba(0, 0, 0, 0.4);
}
#mode-button1:active,
#mode-button2:active,
#mode-button3:active {
  transform: translate(-50%, -50%) scale(0.9);
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.75),
    0px 5px 20px 10px rgba(0, 0, 0, 0.635);
  background: linear-gradient(to top, #1c1c1c, #1c1c1c);
  transition: transform 0.1s ease-in-out;
}
/* Includes start button. */
#start-button:hover,
#mode-button1:hover,
#mode-button2:hover,
#mode-button3:hover {
  box-shadow: 0px 0px 0px 7px rgba(0, 0, 0, 0.75),
    0px 5px 36px 10px rgba(0, 0, 0, 0.635);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
#mbtext {
  font-family: "Quantico", serif;
  position: relative;
  color: white;
  font-size: 35px;
  padding-top: 8px;
}

/* hard to apply due to JS.
#start-button:not(hover),
#mode-button1:not(hover),
#mode-button2:not(hover),
#mode-button3:not(hover) {
}*/

/* ! Main game section. */
.tpbox {
  color: #fbc02d;
  position: absolute; /* If not already set */
  top: 43%; /* Reduce this value to move it up */
  left: 50%;
  transform: translate(-50%, -50%);
}
.tpdetails {
  display: none;
  color: white;
}
.main-game {
  padding: 35px;
}
.main-game {
  display: none;
  opacity: 0;
  pointer-events: none;
}
.main-game .tpinput {
  opacity: 0;
  z-index: -999;
  position: absolute;
}
.main-game .contents {
  padding: 13px 20px 0;
}
.contents .tpbox {
  overflow: hidden;
  max-height: 50%;
  max-width: 40%;
}
.tpbox ::-webkit-scrollbar {
  width: 0;
}
.tpbox p {
  font-size: 38px;
  text-align: justify;
  display: block;
  word-wrap: break-word;
  overflow: hidden;
}
.tpbox p span {
  position: relative;
}
.tpbox p span.correct {
  color: rgb(0, 0, 0);
}
.tpbox p span.incorrect {
  color: red;
  border-radius: 4px;
}
.tpbox p span.active {
  color: #ffffff;
  border-right: 3px solid #ff0000;
  position: relative;
  animation: cursor-blink 0.75s step-end infinite;
}
@keyframes cursor-blink {
  50% {
    border-color: transparent;
  }
}
.tpbox p span.active::after {
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  width: 2px;
  height: 100%;
  animation: typing-blink 0.75s step-end infinite;
}
@keyframes typing-blink {
  50% {
    opacity: 0;
  }
}
.tpdetails {
  position: absolute; /* Make it float above other content */
  top: 35%; /* Position it in the vertical center */
  left: 50%; /* Position it in the horizontal center */
  transform: translate(-50%, -50%); /* Offset it to truly center it */
  padding: 50px 100px;
  border: 4px solid #000000;
  background: #212121; /* Optional: adds some background color */
  border-radius: 80px;
  box-shadow: 0px 0px 15px 3px rgb(0, 0, 0);
}

.tpdetails .tpresults {
  gap: 15px;
}
.tpresults li {
  font-size: 80px;
  list-style: none;
  margin-bottom: 15px;
  font-family: "Amatic SC", serif;
}
.tpresults li span {
  font-weight: bold;
}
li span b {
  font-weight: normal;
}
@media (max-width: 745px) {
  .main-game {
    padding: 20px;
  }
  .contents .tpdetails {
    padding: 20px 0;
  }
  .contents .tpbox {
    max-height: 100%;
  }
  .tpbox p {
    font-size: 19px;
    text-align: left;
  }
  .tpdetails button {
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 20px;
  }
  .tpdetails .tpresults {
    width: 100%;
  }
  .result-details li:not(:first-child) {
    border-left: 0;
    padding: 0;
  }
  .result-details li p,
  .result-details li span {
    font-size: 15px;
  }
}
@media (max-width: 518px) {
  .main-game .contents {
    padding: 10px 15px 0;
  }
  .tpbox p {
    font-size: 13px;
  }
  .tpresults li {
    margin-bottom: 10px;
  }
  .tpdetails button {
    margin-top: 10px;
  }
}

#PL-button1,
#PL-button2,
#PL-button3 {
  font-size: 50px;
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(0.95);
  border-radius: 15px;
  background: linear-gradient(0deg, #282828, #202020);
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.75),
    0px 5px 20px 10px rgba(0, 0, 0, 0.635);
  overflow: hidden;
  user-select: none;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  display: none;
  pointer-events: none;
}
#PL-button1 {
  top: 75%;
  left: 37%;
}
#PL-button2 {
  top: 75%;
  left: 50%;
}
#PL-button3 {
  top: 75%;
  left: 63%;
}
#PL-button1::before,
#PL-button2::before,
#PL-button3::before {
  content: "";
  position: absolute;
  top: 13px;
  bottom: 33px;
  right: 24px;
  left: 24px;
  background: linear-gradient(180deg, #232323, #4a4a4a);
  border-radius: 15px;
  border-bottom: 3.5px solid #0005;
  border-left: 3px solid #0004;
  border-right: 3px solid #0004;
  box-shadow: 0px -10px 10px 2px rgba(255, 255, 255, 0.134),
    0px 15px 30px rgba(0, 0, 0, 0.4);
}
#PL-button1:active,
#PL-button2:active,
#PL-button3:active {
  transform: translate(-50%, -50%) scale(0.9);
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.75),
    0px 5px 20px 10px rgba(0, 0, 0, 0.635);
  background: linear-gradient(to top, #1c1c1c, #1c1c1c);
  transition: transform 0.1s ease-in-out;
}
/* Includes start button. */
#PL-button1:hover,
#PL-button2:hover,
#PL-button3:hover {
  box-shadow: 0px 0px 0px 7px rgba(0, 0, 0, 0.75),
    0px 5px 36px 10px rgba(0, 0, 0, 0.635);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
#pltext {
  font-family: "Quantico", serif;
  position: relative;
  color: white;
  font-size: 45px;
  padding-top: 8px;
}
#crdt1,
#crdt2,
#crdt3,
#crdt4,
#crdt5,
#crdt6,
#crdt7,
#crdt8 {
  font-size: 40px;
  display: none; /* Initially hidden */
  position: absolute;
  color: #ffffff;
  border: 4px solid #000000;
  background: #212121; /* Optional: adds some background color */
  border-radius: 8px;
  box-shadow: 0px 0px 15px 3px rgb(0, 0, 0);
  padding: 15px;
}
#crdt2,
#crdt3,
#crdt4,
#crdt5,
#crdt6,
#crdt7,
#crdt8 {
}
#crdt1 {
  top: 15%;
  left: 10%;
  text-decoration-line: underline;
  font-weight: bold;
}
#crdt2 {
  top: 35%;
  left: 10%;
}
#crdt3 {
  top: 55%;
  left: 10%;
}
#crdt4 {
  top: 75%;
  left: 10%;
}
#crdt5 {
  top: 15%;
  left: 73%;
}
#crdt6 {
  top: 35%;
  left: 73%;
}
#crdt7 {
  top: 55%;
  left: 73%;
}
#crdt8 {
  top: 75%;
  left: 73%;
}
.cursor {
  display: inline-block;
  animation: crdtblink 0.75s infinite;
}

@keyframes crdtblink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
